
header {
    color: white;
}

body {
    color: white;
    background-image: url("../Resources/wallpaperflare.com_wallpaper\ \(1\).jpg");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
    color: rgb(103, 152, 207);
}


#LinkedinLogo {
    height: 5%;
    width: 5%;
}

#GithubLogo {
    height: 5%;
    width: 5%;
}

#comptialogo{
    height: 7%;
    width: 7%; 
}

#RhapsodyLogo {
    height: 7%;
    width: 7%; 
}

.langlogo {
    height: 5%;
    width: 5%;
}

.langlogolist {
    height: 5%;
    width: 5%;
}

#languagesusedlist {
    list-style-image: url("../Resources/rocket_launch_FILL0_wght400_GRAD0_opsz24.png");
}

.material-symbols-outlined {
    padding-right: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


