
header {
    color: white;
}

body {
    color: white;
    background-image: url("../Resources/wallpaperflare.com_wallpaper\ \(1\).jpg");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
    color: rgb(103, 152, 207);
}

p {
    margin: 0.5rem 0rem;
}


#LinkedinLogo {
    height: 5%;
    width: 5%;
}

#GithubLogo {
    height: 5%;
    width: 5%;
    padding-top: 1rem;
}

#emaillogo {
    height: auto;
    width: 5%;  
}

#emaillink{
    margin: 0rem;
}

#comptialogo{
    height: 7%;
    width: 7%; 
}

#RhapsodyLogo {
    height: 7%;
    width: 7%; 
}

.langlogo {
    height: 5%;
    width: 5%;
}

.langlogolist {
    height: auto;
    width: 5%;
    padding-left: 1rem;
    position: absolute;
    left: 10rem;
}

#languagesusedlist {
    list-style-image: url("../Resources/rocket_launch_FILL0_wght400_GRAD0_opsz24.png");
}

#languagesusedlist li {
    margin-top: 2rem;
    line-height: 4rem;;
}

.material-symbols-outlined {
    padding-right: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#contactsdiv{
    padding-top: 1rem;
    padding-left: 1rem;
}

.contact {
    padding-bottom: 1rem;
}

#name {
    display: none;
}

#moreCodecademycourses {
    display: none;
}

#moreCoursesBtn {
    margin-left: 40px;
}

.mainList{
    display: none;
}

.contactheading {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 650px) {
    .langlogo
    {
    height: 10%;
    width: 10%;
    }

   #comptialogo
    {
    height: 12%;
    width: 12%; 
    }
    
    #RhapsodyLogo 
    {
    height: 12%;
    width: 12%; 
    }

    .langlogolist
    {
        height: auto;
        width: 10%;
        padding-left: 1rem;
        position: absolute;
        left: 10rem;
    }

    #LinkedinLogo {
        height: auto;
        width: 10%;
    }
    
    #GithubLogo {
        height: auto;
        width: 10%;
        padding-top: 1rem;
    }

    #emaillogo {
        height: auto;
        width: 10%;  
    }
}


